//General styles//
*,
::after,
::before{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html,body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    text-decoration: 0;

}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;

  @media (min-width: 800px) {
    line-height: 1;
  }
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;

   
}

h4{
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
  }
a {
    text-decoration: none;

}

p{
    font-size: 0.75rem;

}

input{
    border: none;
    outline: none;
}
button{
    border: none;
    cursor: pointer;
}



